@import "../../@theme/styles/themes.scss";

.example-list {
    // border: solid 1px #ccc;
    min-height: 60px;
    // background: white;
    // border-radius: 4px;
    // overflow: hidden;
    // display: block;
    width: 400px;
    // max-width: 100%;
    padding: 0.1em 0;
    // line-height: 1.4em;
    list-style: none;
}

.example-box {
    margin-top: 15px;
    padding: 0;
    // border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    // box-sizing: border-box;
    cursor: move;
    // background: white;
    // font-size: 14px;
    position: relative;
    // display: list-item;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging {
    list-style: none;
}
.menu-item-bar {
    clear: both;
    // line-height: 1.5;
    position: relative;
    .menu-item-handle.ui-sortable-handle {
        border: 1px solid #dcdcde;
        position: relative;
        padding: 10px 15px;
        height: auto;
        min-height: 20px;
        // max-width: 382px;
        // line-height: 2.30769230;
        overflow: hidden;
        word-wrap: break-word;
        height: 100%;
    }
    .menu-item-handle {
        background: #f6f7f7;
        color: #1d2327;
        display: flex;
        align-items: center;
        span {
            flex: 1 1 auto;
        }
        button {
            border: none;
            background: none;
        }
    }
}

nb-card.dialog {
    min-width: 600px;
}

.add-menu {
    display: flex;
    align-items: center;
    .btn-add-menu {
        margin-left: 1em;
    }
}

