<nb-card>
    <nb-card-body>
        <div class="row flex">
            <div class="col-4 mr-auto">
                <input nbInput type="text" placeholder="Version" [nbAutocomplete]="auto" [(ngModel)]="autoInput" (change)="onVersionSelectionChange(autoInput)" [nbAutocomplete]="auto" />

                <nb-autocomplete #auto (selectedChange)="onVersionSelectionChange($event)">
                    <nb-option *ngFor="let v of versionsTag" [value]="v.version">{{v.version}}</nb-option>
                </nb-autocomplete>
            </div>

            <input class="col-8" nbInput [nbFilterInput]="dataSource" id="search" class="search-input" placeholder="Search..." />
        </div>

        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" (contextmenu)="openContextMenu($event, row.data)" [nbContextMenu]="menuContextItem" nbContextMenuTag="sourceMenuContext" nbContextMenuTrigger="noop" (click)="showFileDetail(dialogDetail, row.data)" (drop)="onDrop($event, row, uploadForm)" (dragover)="onDragOver($event, row)" (dragleave)="onDragLeave($event, row)"></tr>
            <ng-container *ngFor="let column of allColumns; let index = index" [nbTreeGridColumnDef]="column" [showOn]="getShowOn(index)">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                    {{ column }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    <ngx-menu-context [x]="contextmenuX" [y]="contextmenuY"></ngx-menu-context>
                    <ngx-fs-icon *ngIf="index==0" [type]="row.data.type" [expanded]="row.expanded"></ngx-fs-icon>
                    {{ row.data[column] || "-" }}
                </td>
            </ng-container>
        </table>
    </nb-card-body>
</nb-card>

<ng-template #dialogDetail let-data let-ref="dialogRef">
    <nb-card class="dialog">
        <nb-card-header>{{data.name}}</nb-card-header>
        <nb-card-body class="items-col">
            <form>
                <div class="form-group row">
                    <label for="bucket_name" class="label col-sm-3 col-form-label">Bucket name</label>
                    <div class="col-sm-9 dialog-content">
                        {{data.bucket_name}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword2" class="label col-sm-3 col-form-label">Type</label>
                    <div class="col-sm-9 dialog-content">
                        {{data.type}} <span *ngIf="data.ext">- {{data.ext}}</span> <span *ngIf="data.mime_type">- {{data.mime_type}}</span>
                    </div>
                </div>
                <div *ngIf="data.size" class="form-group row">
                    <label for="inputPassword2" class="label col-sm-3 col-form-label">Size</label>
                    <div class="col-sm-9 dialog-content">
                        {{data.size_string}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword2" class="label col-sm-3 col-form-label">Version</label>
                    <div class="col-sm-9 dialog-content">
                        {{data.version}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword2" class="label col-sm-3 col-form-label">Version</label>
                    <div class="col-sm-9 dialog-content">
                        {{data.game_version}}
                    </div>
                </div>
                <div *ngIf="data.link_cdn" class="form-group row">
                    <label for="inputPassword2" class="label col-sm-3 col-form-label">Link</label>
                    <div class="col-sm-9 dialog-content">
                        {{data.link_cdn}}
                    </div>
                </div>
                <div *ngIf="data.created_time" class="form-group row">
                    <label for="inputPassword2" class="label col-sm-3 col-form-label">Created at</label>
                    <div class="col-sm-9 dialog-content">
                        {{data.created_time_string}}
                    </div>
                </div>
                <div *ngIf="data.updated_time" class="form-group row">
                    <label for="inputPassword2" class="label col-sm-3 col-form-label">Updated at</label>
                    <div class="col-sm-9 dialog-content">
                        {{data.updated_time_string}}
                    </div>
                </div>
            </form>
        </nb-card-body>

        <nb-card-footer>
            <div class="row flex justify-content-around">
                <button nbButton hero status="success" class="col-5" (click)="downloadFile(ref, data.link_cdn)">
                    <nb-icon style="padding-top: 3px;" class="icon" icon="cloud-arrow-down" pack="fa"></nb-icon> Download
                </button>
                <button nbButton hero status="danger" class="col-5" (click)="deleteFile(ref, data)">
                    <nb-icon style="padding-top: 3px;" class="icon" icon="trash" pack="fa"></nb-icon>Delete
                </button>
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #uploadForm let-data let-ref="dialogRef">
    <div class="dialogAddFile">
        <nb-card-body>
            <div *ngFor="let file of data.processes | keyvalue; trackBy: trackItem">
                <div class="row flex" style="margin: auto">
                    <span>File: {{file.key}}</span>
                    <nb-action class="ml-auto">
                        <nb-icon class="action-icon" icon="close-circle-outline" (click)="onRemoveUploadingFile(data, file)"></nb-icon>
                    </nb-action>
                </div>
                <div class="row" style="margin: auto"> </div>
                <nb-progress-bar class="col-12" style="padding-left:0px;padding-right:0px;padding-top:10px;padding-bottom:20px;" [value]="file.value" size="tiny" [status]="file.value<50?'info':file.value<100?'primary':'success'">{{file.value<100?'uploading':'done'}} </nb-progress-bar>
            </div>
        </nb-card-body>
        <nb-card-footer class="row">
            <button [disabled]="windowUploadButton!='Upload' && windowUploadButton!='Close'" nbButton hero status="success" (click)="uploadFiles(data)" fullWidth [nbSpinner]="windowUploadButton==='Uploading'" nbSpinnerStatus="success"> {{windowUploadButton}} </button>
        </nb-card-footer>
    </div>
</ng-template>

<ng-template #dialogInformation let-data let-ref="dialogRef">
    <nb-card class="dialog">
        <nb-card-header>{{data.title}}</nb-card-header>
        <nb-card-body class="items-col">
            {{data.message}}
        </nb-card-body>
        <nb-card-footer class="row flex">
            <button class="ml-auto" nbButton hero status="danger" (click)="data.closeFunc?(data.closeFunc(ref.close())):ref.close();">Close</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #addNewFolder let-data let-ref="dialogRef">
    <nb-card class="dialog">
        <nb-card-header>New folder</nb-card-header>
        <nb-card-body class="example-items-col">
            <div class="form-group row">
                <label for="Name" class="label col-sm-3 col-form-label">Path</label>
                <div class="col-sm-9">{{data.location.endsWith('/')?data.location+data.new:data.location+"/"+data.new}}</div>
            </div>
            <div class="form-group row">
                <label for="Name" class="label col-sm-3 col-form-label">Name folder</label>
                <div class="col-sm-9">
                    <input type="text" nbInput fullWidth status="basic" placeholder="Name" [ngModel]="data.new" (ngModelChange)="onNameFolderChanged(data, $event)" />
                </div>
            </div>
        </nb-card-body>

        <nb-card-footer class="dialog">
            <div class="row flex justify-content-around" style="margin: auto">
                <button nbButton status="success" class="col-5" (click)="onAddNewFolder(ref, data)">
                    Add new
                </button>
                <button class="cancel" class="col-5" nbButton status="danger" (click)="ref.close()">
                    Close
                </button>
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template>
