<div class="accordions-container row">
    <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
        <nb-accordion multi>
            <nb-accordion-item [(expanded)]="isActive">
                <nb-accordion-item-header class="row flex" style="margin-right: 2px;">
                    <div status="danger" class="col-5 col-sm-3 col-md-3 col col-lg-3 col-xl-3 d-flex justify-content-start">
                        <ngx-flag-name-location location_code="{{server.location_code}}" name="{{server.name}}"></ngx-flag-name-location>
                    </div>
                    <div status="danger" nbPopover="ID: {{server.id}}" nbPopoverTrigger="hint" nbPopoverPlacement="top" class="col-sm-2 col-md-2 col-lg-1 col-xl-1 justify-content-start d-none d-sm-flex" style="color: #17a2b8;">
                        <nb-icon class="icon" icon="hashtag" pack="fa"></nb-icon> {{server.id}}
                    </div>
                    <div status="danger" nbPopover="IP: {{server.ip}}" nbPopoverTrigger="hint" nbPopoverPlacement="top" class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-2 justify-content-start" style="color: #17a2b8;">
                        <nb-icon class="icon" icon="at" pack="fa"></nb-icon> {{server.ip}}
                    </div>
                    <div status="danger" nbPopover="Have {{server.used_count}} client(s)" nbPopoverTrigger="hint" nbPopoverPlacement="top" class="col-2 col-sm-3 col-md-3 col col-lg-2 col-xl-2 justify-content-start d-flex" style="color: #17a2b8;">
                        <nb-icon class="icon" icon="user-shield" pack="fa"></nb-icon> {{server.used_count}} <span class="object d-none d-md-none">client</span><span class="d-none d-md-none" *ngIf="server.used_count>1">s</span>
                    </div>
                    <div status="danger" nbPopover="{{server.data_transfer}} Kb" nbPopoverTrigger="hint" nbPopoverPlacement="top" class="col-md-3 col-lg-2 col-xl-1 justify-content-start d-none d-sm-none d-md-flex d-lg-flex d-xl-flex" style="color: #17a2b8;">
                        <nb-icon class="icon" icon="rocket" pack="fa"></nb-icon> {{dataTransferConverted}}
                    </div>
                    <div status="danger" nbPopover="{{timePopover}}" nbPopoverTrigger="hint" nbPopoverPlacement="top" class="col-xl-2 justify-content-center d-none d-sm-none d-lg-none d-xl-flex" style="color: #17a2b8;">
                        <nb-icon class="icon" icon="clock" pack="far"></nb-icon> {{createdTimeStr}}
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 justify-content-center d-none d-sm-flex" style="color: #17a2b8;">
                        <ngx-server-status status="{{server.status}}"></ngx-server-status>
                    </div>
                </nb-accordion-item-header>
                <nb-accordion-item-body style="background-color: #edf1f7;">
                    <ngx-server-detail [server]="server"></ngx-server-detail>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </div>
</div>
