<div class="partner">
    <div class="partner-main">
        <h6>Đối tác</h6>
        <owl-carousel-o [options]="customOptions">
            <ng-template class="carousel-cell" carouselSlide>
                <div class="item-partner">
                    <img style="width: fit-content!important" src="assets/img/home/Rectangle.png" alt="partner1" draggable="false" />
                    <p>AdMob</p>
                </div>
            </ng-template>
            <ng-template class="carousel-cell" carouselSlide>
                <div class="item-partner">
                    <img src="assets/img/home/Pt_Meta_Audience_Network.png" alt="partner1" draggable="false" />
                    <p>Meta Audience</p>
                </div>
            </ng-template>
            <ng-template class="carousel-cell" carouselSlide>
                <div class="item-partner">
                    <img src="assets/img/home/Rectangle (2).png" alt="partner1" draggable="false" />
                    <p>Unity</p>
                </div>
            </ng-template>
            <ng-template class="carousel-cell" carouselSlide>
                <div class="item-partner">
                    <img src="assets/img/home/Rectangle (1).png" alt="partner1" draggable="false" />
                    <p>Google Ads</p>
                </div>
            </ng-template>
            <ng-template class="carousel-cell" carouselSlide>
                <div class="item-partner">
                    <img src="assets/img/home/chplay.png" alt="partner1" draggable="false" />
                    <p>Play Store</p>
                </div>
            </ng-template>
            <ng-template class="carousel-cell" carouselSlide>
                <div class="item-partner">
                    <img src="assets/img/home/Pt_Apple_Search_Ads.png" alt="partner1" draggable="false" />
                    <p>Apple Search Ads</p>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
