<nb-card>
    <nb-card-body class="example-items-col">
        <input type="text" nbInput placeholder="name website" fullWidth />
        <input type="text" nbInput placeholder="title website" fullWidth/>
        <input type="text" nbInput placeholder="description website"fullWidth />

        <input
            type="file"
            class="file-input"
            (change)="onFileSelected($event)"
            #fileUpload
            fullWidth
        />

        <div class="file-upload">
            {{ fileName || "No file uploaded yet." }}

            <button
                color="primary"
                class="upload-btn"
                (click)="fileUpload.click()"
            >
                <nb-icon icon="upload-outline"></nb-icon>
            </button>

            <div *ngIf="fileUoload">
                <img id="blah" [src]="fileUoload || 'http://placehold.it/180'" alt="icon logo" width="180" height="180" />
            </div>

        </div>

        <input type="Domain" nbInput placeholder="domain website" fullWidth disabled/>

        <button nbButton (click)="open()">Meta</button>

    </nb-card-body>
</nb-card>
