<nb-card *ngIf="!statsFlip" status="{{status}}" nbPopover="{{description}}" nbPopoverTrigger="hint" nbPopoverPlacement="bottom">
    <div class="icon-container">
        <div class="icon status-{{ type }}">
            <ng-content select="#main"></ng-content>
        </div>
    </div>

    <div class="details">
        <div><span class="title h5" AnimatedDigit [digit]="stats" [duration]=1000>{{ stats }}</span><span class="unit">{{ statsUnit }}</span></div>
        <div class="status paragraph-2">{{ object }}</div>
    </div>
</nb-card>


<nb-flip-card *ngIf="!!statsFlip" nbPopover="{{description}}" nbPopoverTrigger="hint" nbPopoverPlacement="bottom">
    <nb-card-front>
        <nb-card status="{{status}}">
            <div class="icon-container">
                <div class="icon status-{{ type }}">
                    <ng-content select="#flip"></ng-content>
                </div>
            </div>

            <div class="details">
                <div><span class="title h5" AnimatedDigit [digit]="stats" [duration]=1000>{{ stats }}</span><span class="unit">{{ statsUnit }}</span></div>
                <div class="status paragraph-2">{{ object }}</div>
            </div>
        </nb-card>
    </nb-card-front>
    <nb-card-back>
        <nb-card status="{{statusFlip}}">
            <div class="icon-container">
                <div class="icon status-{{ typeFlip }}">
                    <ng-content select="#flip-hide"></ng-content>
                </div>
            </div>
            <div class="details">
                <div>
                    <span class="title h5" AnimatedDigit [digit]="statsFlip" [duration]=1000>{{ statsFlip }}</span><span class="unit">{{ statsFlipUnit }}</span><span *ngIf="!!statsExtra">|</span> <span *ngIf="!!statsExtra" class="title h5" AnimatedDigit [digit]="statsExtra" [duration]=1000>{{ statsExtra }}</span><span class="unit">{{ statsExtraUnit }}</span>
                </div>
                <div class="status paragraph-2"><span>{{ objectFlip }}</span><span *ngIf="!!statsExtra">|{{ objectExtra }}</span></div>
            </div>
        </nb-card>
    </nb-card-back>
</nb-flip-card>
