<div class="orientation" id="myOrientation">
    <div class="container-home orientation-section">
        <div class="section-timeline">
            <div class="timeline" >
                <div
                    class="container-item-text right wow fadeIn"
                    data-wow-delay="2s"
                    data-wow-duration="1.5s"
                >
                    <div class="content">
                        <p class="title-content">
                            Tập đoàn công nghệ hàng đầu<br />
                            Việt Nam
                        </p>
                        <p class="des-content">
                            Có ít nhất 5 công ty thành viên và hoạt động với mục
                            tiêu đưa công nghệ vào các lĩnh vực khác trong đời
                            sống, giúp cuộc sống của mọi người trở lên dễ dàng
                            hơn
                        </p>
                    </div>
                </div>
                <div
                    class="container-item-text left wow fadeIn"
                    data-wow-delay="1.5s"
                    data-wow-duration="1.5s"
                >
                    <div class="content">
                        <p class="title-content">Volio X</p>
                        <p class="des-content">
                            Thành lập các công ty thành viên từ:
                        </p>
                        <ul>
                            <li>Các dự án app thành công</li>
                            <li>Các dự án game thành công</li>
                            <li>Các dự án DropShiping và POD thành công</li>
                            <li>Các sản phẩm hỗ trợ cho doanh nghiệp</li>
                        </ul>
                    </div>
                </div>
                <div
                    class="container-item-text right wow fadeIn"
                    data-wow-delay="1s"
                    data-wow-duration="1.5s"
                >
                    <div class="content">
                        <p class="title-content">Mobile Game</p>
                        <p class="des-content">
                            Phát triển các trò chơi trên di động trên các nền
                            tảng như Android và ioS
                        </p>
                    </div>
                </div>
                <div
                    class="container-item-text left wow fadeIn"
                    data-wow-delay="0.5s"
                    data-wow-duration="1.5s"
                >
                    <div class="content">
                        <p class="title-content">Mobile App</p>
                        <p class="des-content">
                            Phát triển các ứng dụng điện thoại trong các lĩnh
                            vực trọng yếu trên cả Android và iOS làm tiền đề để
                            phát triển các công ty về sau này
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="timeline-pillar wow"

            >
                <div id="myPillar" class="timeline-pillar-child"></div>
            </div>
        </div>
        <div
            class="container-home orientation-section-v1 wow fadeIn"
            data-wow-delay="2s"
            data-wow-duration="0.5s"
        ></div>
    </div>
</div>
