<h1 id="title" class="title">Change Password</h1>
<p class="sub-title">Enter your new password</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</nb-alert>

<form (ngSubmit)="changePassword()" #renewPassForm="ngForm" aria-labelledby="title">
    <div class="form-control-group">
        <label class="label" for="input-password">Enter your new password:</label>
        <input nbInput [(ngModel)]="user.new_password" #newPassword="ngModel" type="password" id="input-password" name="newPassword" placeholder="New password" autofocus fullWidth fieldSize="large" [status]="newPassword.dirty ? (newPassword.invalid  ? 'danger' : 'success') : 'basic'" required [attr.aria-invalid]="newPassword.invalid && newPassword.touched ? true : null">
        <ng-container *ngIf="newPassword.invalid && newPassword.touched">
            <p class="caption status-danger" *ngIf="newPassword.errors?.required">
                Password is required!
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-password">Confirm your new password:</label>
        <input nbInput [(ngModel)]="user.confirm_new_password" #confirmNewPassword="ngModel" type="password" id="input-password" [pattern]="user.new_password" name="confirmNewPassword" placeholder="Confirm new password" fullWidth fieldSize="large" [status]="confirmNewPassword.dirty ? (confirmNewPassword.invalid  ? 'danger' : 'success') : 'basic'" required [attr.aria-invalid]="confirmNewPassword.invalid && confirmNewPassword.touched ? true : null">
        <ng-container *ngIf="confirmNewPassword.invalid && confirmNewPassword.touched">
            <p class="caption status-danger" *ngIf="confirmNewPassword.errors?.required">
                Confirm password is required!
            </p>
            <p class="caption status-danger" *ngIf="confirmNewPassword.errors?.pattern">
                Confirm password needs to be valid
            </p>
        </ng-container>
    </div>

    <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !renewPassForm.valid || !confirmNewPassword.valid" [class.btn-pulse]="submitted">
        Change password
    </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
    <p><a class="text-link" routerLink="/auth/login">Back to Log In</a></p>
    <p><a routerLink="/auth/register" class="text-link">Register</a></p>
</section>
